# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore the .env file containing secrets and environment variables
.env

# Ignore virtual environment folder
pdfsumm/

# Ignore IDE settings (if applicable)
.vscode/
.idea/

# Ignore logs (optional)
*.log


# extra files
main2.py
summarizer3.py
testpdfprocessor.py
error_handler.py
testchunking2.py
test1.py
logger.py